@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;

}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

body {
    width: 100%;
}

header {
    z-index: 999;
    position: sticky;
    top: 0;
    right: 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

#row1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 80px;
    background-color: #E3E6F3;

}

#focus a,
#focus span {
    font-size: 30px;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
    font-family: Cinzel Decorative;
    font-weight: 400;
    text-decoration: none;
    color: black;
}

#focus span {
    color: red;
}

#icons {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#search-icon,
#user-icon,
#fav-icon,
#cart-icon,
#cart-icon,
#menu-icon {
    padding: 0 0 0 20px;
}

#icons a {
    color: black;
    font-size: 18px;
}

#hero {
    background-color: #E3E6F3;
    height: 90vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    width: 100%;
}

#hero h1 {
    color: rgb(243, 112, 90);

    color: rgb(254, 210, 28);
    color: rgb(254, 104, 255);
    color: rgb(115, 98, 165);
    color: rgb(151, 76, 205);
}

#hero h4 {
    padding-bottom: 15px;
}

#sun-eye-container {
    width: 100%;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
}

#collections {
    text-align: center;
    height: 65vh;
    width: 100%;
}

#collections h2 {
    font-size: 27px;
    text-transform: uppercase;
}

#man-woman-kid-container {
    padding-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#man-woman-kid-container .con {
    min-width: 32%;
    height: 50vh;
    background-image: url(../images/real-glassess/daniel-lincoln--P-qSemf-DY-unsplash.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#man-woman-kid-container .men {
    background-image: url(../images/real-glassess/ivana-cajina-_7LbC5J-jw4-unsplash.jpg);
}

#man-woman-kid-container .kids {
    background-image: url(../images/real-glassess/tony-mucci-Ya9G0IPLlgI-unsplash.jpg);
}

#man-woman-kid-container .con a {
    text-decoration: none;
}

#man-woman-kid-container .con a h2 {
    font-size: 25px;
    color: #fff;
    font-family: Fredoka One;
    position: absolute;
    bottom: 20px;
    left: 45%;
}

#new-arrival {
    text-align: center;
}

#new-arrival .pro-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 20px;
}

#new-arrival .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    /* border: 1px solid rgb(146, 119, 119); */
    /* border-radius: 25px; */
    border-radius: 1px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#new-arrival .pro img {
    width: 100%;
    /* border-radius: 20px; */
}

#new-arrival .pro .des {
    text-align: start;
    padding: 10px 0;
}

#new-arrival .pro .des span {
    color: #606063;
    font-size: 12px;
}

#new-arrival .pro .des h5 {
    padding: 7px 0 0 0;
    font-size: 14px;
}

#new-arrival .pro .des h4 {
    padding-top: 7px;
    font-size: 13px;
    font-weight: 700;
    color: #088178;
    color: black;
}

#new-arrival .pro .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ee;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}